.DS_Store
__pycache__/
.hypothesis/
.ipynb_checkpoints/
.vscode/
env/
venv/
.venv/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log
*.pot
*.mo
*.db
*.sqlite
*.egg-info/
*.egg
benchmark_results/
engine/io/cc/
.pytest_cache/
screenshots/
